<div class="row">
  <div class="col-md-6">
    <p><strong>Name:</strong></p>
    <p><%= @product.name %></p>
    <br>
    <p><strong>Price:</strong></p>
    <p><%= @product.price %></p>
    <br>
    <p><strong>Description:</strong></p>
    <p><%= @product.description %></p>
    <br><br>
    <p><strong>Category:</strong></p>
    <p><%= @product.category.name %></p>
    <br><br>
    <%= link_to 'Add to category', edit_admin_product_path(@product), remote: true, class: 'btn btn-danger' %>
  </div>
</div>

<div id="add-category-modal-placeholder"></div>
